nav {
  width: 80%;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 61px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

ul a {
  color: #514d67;
}

.home {
  color: #a2d6f9;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 650px;
  margin-top: 100px;
  margin-bottom: 130px;
}

.heroLeftContainer {
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.heroBtnContainer {
  display: flex;
}

.seeWork {
  background-color: transparent;
  padding-left: 0;
}

.seeWork:hover {
  background-color: transparent;
}

.seeWork a {
  color: #514d67;
}
.seeWork a:hover {
  color: #514d67;
}

.heroRightContainer {
  position: relative;
  width: 50%;
}

.heroBg {
  width: 100%;
}
.heroCard1 {
  width: 47%;
  position: absolute;
  top: 0;
  left: -14%;
}
.heroCard2 {
  width: 50%;
  position: absolute;
  bottom: -22%;
  right: -22%;
}

.logosContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logosContainer img {
  width: 150px;
  padding: 0 5%;
  filter: grayscale(100%);
}
.logosContainer img:hover {
  filter: grayscale(0%);
}

#projects {
  width: 80%;
  height: 561px;
  margin-top: 200px;
  margin-bottom: 200px;
}

#cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

#cards div {
  width: 340px;
  height: 444px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #aaaaaa;
}

#cards div img {
  width: 340px;
  height: 240px;
  margin-bottom: 30px;
}
#cards div p {
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 30px;
}
#cards div article {
  margin-bottom: 40px;
  margin-left: 30px;
}
#cards div a {
  margin-left: 30px;
  
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 622px;
  background-color: #292e47;
  position: relative;
}

#testimonials h3 {
  position: absolute;
  top: 120px;
  width: 621px;
  color: #f4f6fc;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
}
#testimonials article {
  position: absolute;
  top: 271px;
  width: 596px;
  color: #ffc600;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
}

.profileContainer {
  position: absolute;
  top: 452px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14%;
}
.profileContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profileContainer div {
  top: 452px;
  width: 111px;
}

.profileContainer div p {
  color: #a2d6f9;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
}

.profileContainer div a {
  color: #f4f6fc;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
}

.memoji_1 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 51px;
  left: 136px;
}
.memoji_2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 51px;
  right: 91px;
}
.memoji_3 {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 73px;
  left: 63px;
}
.memoji_4 {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 73px;
  right: 72px;
}

#services {
  width: 80%;
  height: 561px;
  margin-top: 200px;
  margin-bottom: 200px;
}

#servicesCards {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

#servicesCards div {
  width: 340px;
  height: 380px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #aaaaaa;
}
#servicesCards div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: #ecf7ff;
  border-radius: 50%;
}
#servicesCards div div img {
  width: 35px;
  height: 35px;
}
#servicesCards div p {
  margin-bottom: 10px;
  margin-left: 30px;
}
#servicesCards div article {
  margin-bottom: 54px;
  margin-left: 30px;
}
#servicesCards div a {
  margin-left: 30px;
}

#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 500px;
  background-color: #ffc600;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 227px;
}

#questions form {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#questions form input {
  display: flex;
  justify-content: space-around;
  width: 393px;
  height: 80px;
  color: #292e47;
  padding-left: 5%;
}

#questions form input::-webkit-input-placeholder {
  background-image: url("./assets/letter.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: 0% 50%;
  background-origin: padding-box;
  padding-left: 40px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 200px;
  margin-top: 140px;
  padding-bottom: 70px;
}

.footerLeftContainer {
  width: 22%;
}

.footerLeftContainer img {
  width: 30%;
}
.footerLeftContainer p {
  margin-top: 30px;
}

.footerRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-top: 10px;
}

.footerRightContainer div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerRightContainer div p {
  width: 25%;
  margin-bottom: 30px;
}


@media only screen and (max-width: 700px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 900px;
    margin-top: 16%;
  }

  .heroLeftContainer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .heroLeftContainer h1 {
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.3;
  }

  .heroLeftContainer p {
    font-size: 1.03rem;
    text-align: center;
    line-height: 1.5;
  }

  .heroBtnContainer {
    display: flex;
  }

  .seeWork {
    background-color: transparent;
    padding-left: inherit;
    font-weight: 500;
  }

  .seeWork:hover {
    background-color: transparent;
  }

  .seeWork a {
    color: #514d67;
  }
  .seeWork a:hover {
    color: #514d67;
  }

  .heroRightContainer {
    height: 52%;
    width: 110%;
  }

  .heroBg {
    width: 100%;
  }
  .heroCard1,
  .heroCard2 {
    display: none;
  }

  .logosContainer {
    margin-top: 0;
    width: 80%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logosContainer :nth-child(5) {
    display: none;
  }

  .logosContainer img {
    width: 110px;
    padding: 5%;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1561px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #cards {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  #cards div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 444px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #aaaaaa;
    margin-bottom: 20px;
  }

  #cards div img {
    width: 100%;
    height: 240px;
    margin-bottom: 30px;
  }

  #testimonials {
    width: 100%;
    min-height: 470px;
  }

  #testimonials h3 {
    top: 50px;
    width: 90%;
    text-align: center;
    font-size: 30px;
  }
  #testimonials article {
    position: absolute;
    top: 200px;
    margin-bottom: 100px;
    width: 80%;
    color: #ffc600;
    font-size: 24px;
    text-align: center;
  }

  .profileContainer {
    position: absolute;
    top: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
  .profileContainer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .profileContainer div {
    top: 452px;
    width: 111px;
  }

  .profileContainer div p {
    color: #a2d6f9;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
  }

  .profileContainer div a {
    color: #f4f6fc;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.23px;
  }

  .memoji_1,
  .memoji_2,
  .memoji_3,
  .memoji_4 {
    display: none;
  }

  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1061px;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  #servicesCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #servicesCards div {
    width: 360px;
    height: 380px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #aaaaaa;
    margin-bottom: 20px;
  }

  #questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #ffc600;
    margin-top: 136px;
  }

  .questionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 350px;
  }
  .questionsContainer h3 {
    font-size: 30px;
  }

  #questions form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 50%;
    padding-top: 10%;
  }

  #questions form input {
    width: 100%;
    height: 80px;
    color: #292e47;
    padding-left: 30px;
    padding-left: 5%;
  }

  .submitBtn {
    height: 80px;
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 200px;
    margin-top: 100px;
  }

  .footerLeftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .footerLeftContainer img {
    width: 30%;
  }
  .footerLeftContainer p {
    width: 70%;
    margin-top: 30px;
  }

  .footerRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }

  .footerRightContainer div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footerRightContainer div p {
    width: 25%;
    margin-bottom: 30px;
    color: #072ac8;
  }
}
