nav {
    width: 80%;
    height:  61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

ul a {
    color: #514d67;
}

.home {
    color: #A2D6F9;
  }